@media only screen and (orientation: landscape) {
    header {
        height: 30vh;
        color: #ffffff;

        i {
            display: none !important;
        }

        nav {

            ul {
                display: flex;
                flex-direction: row !important;
                list-style: none;
                gap: 2rem;

                li {

                    &:hover {
                        transition: 0.6s;
                        text-decoration: underline;
                        color: orange;

                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        div {
            width: 100% !important;
            gap: 5px !important;
            height: 80vh;
            font-size: 10px;

            img {
                margin-top: 5px;
                width: 100% !important;

            }

            p {
                font-size: 10px !important;
                width: 30%;
            }

            div {
                width: 25px!important;
                height: 25px !important;
                border-radius: 50% !important;
            }

           

        }
    }
}

@media only screen and (min-width: 700px){
    header{
        height: 20vh !important;
    }
    main{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 5rem;

        #tu{

        }
        
        div{
            font-size: 20px !important;
            height: 450px;
            width: 300px !important;
            text-align: center;
            p{
                font-size: 15px !important;
                width: 65% !important;
            }
            img{
                width: 250px;
            }
            .holis{
                width: 50px !important;
                height: 50px !important;
            }
            
            
            
        }
    }
}
