@media only screen and (orientation: landscape) {
    header {
        height: 30vh;
        color: #ffffff;

        i {
            display: none !important;
        }

        nav {

            ul {
                display: flex;
                flex-direction: row !important;
                list-style: none;
                gap: 2rem;

                li {

                    &:hover {
                        transition: 0.6s;
                        text-decoration: underline;
                        color: orange;

                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;


        div {
            width: 100% !important;
            gap: 5px !important;
            /* height: 80vh !important; */
            font-size: 20px !important;

            h2 {
                font-size: 20px !important;
            }


            img {
                margin-top: 5px;
                /* width: 100% !important; */

            }

            p {
                font-size: 15px !important;
                width: 70% !important;
            }
        }

        .holis {
            margin-top: 15px;
            width: 80px !important;
            height: 80px !important;
            border-radius: 50% !important;
        }



    }
}


@media only screen and (min-width: 1080px) {
    header {
        height: 20vh !important;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;



        div {
            font-size: 20px !important;
            height: 390px !important;
            width: 280px !important;
            text-align: center;

            p {
                font-size: 15px !important;
                width: 50% !important;
            }

            img {
                width: 200px !important;
            }

            .holis {
                width: 50px !important;
                height: 50px !important;
            }

            #puta {
                width: 50px !important;
                height: 50px !important;
            }



        }
    }
}